/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-color: #333;
  color: white;
  position: relative; /* Needed for positioning .nav-list */
}

.navbar-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2; /* Ensure the hamburger icon is above the rest of the content */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.nav-list {
  list-style: none;
  position: absolute;
  top: 100%; /* Position the menu below the navbar */
  left: 0;
  background-color: #333;
  width: 100%;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  
}

.nav-list.open {
  max-height: 200px; /* Adjust this value as needed */
  visibility: visible;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0;
  padding: 0;
}

.nav-list a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.nav-list a:hover {
  background-color: #555;
}
