.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
a{
    text-decoration: none;
    cursor: pointer;
 color: red;
}

.card-container-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .title {
    margin: 20px;
  }
  /* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    background-color: #333;
    color: white;
    position: relative; /* Needed for positioning .nav-list */
  }
  
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 2; /* Ensure the hamburger icon is above the rest of the content */
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  .nav-list {
    list-style: none;
    position: absolute;
    top: 100%; /* Position the menu below the navbar */
    left: 0;
    background-color: #333;
    width: 100%;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    
  }
  
  .nav-list.open {
    max-height: 200px; /* Adjust this value as needed */
    visibility: visible;
    opacity: 1;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0;
    padding: 0;
  }
  
  .nav-list a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-list a:hover {
    background-color: #555;
  }
  
  /* Hero.css */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background-color: #f5f5f5;
  }
  
  .welcome {
    flex: 0.5;
    padding: 2rem;
    text-align: center;
  }
  
  .welcome h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .image {
    flex: 1;
    height: 100%;
    background-image: url(/coding.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      height: auto;
    }
  
    .welcome,
    .image {
      flex: none;
      width: 100%;
    }
  
    .image {
      height: 300px; /* Adjust as needed */
    }
  }