@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Cormorant+Garamond:ital,wght@1,600&family=Lato:wght@300&family=Montserrat:ital,wght@1,200&family=Quicksand:wght@300&family=Roboto+Serif:opsz,wght@8..144,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Cormorant+Garamond:ital,wght@1,600&family=Lato:wght@300&family=Montserrat:ital,wght@1,200&family=Quicksand:wght@300&family=Roboto+Serif:opsz,wght@8..144,200&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Cormorant+Garamond:ital,wght@1,600&family=Heebo:wght@500&family=Lato:wght@300&family=Montserrat:ital,wght@1,200&family=Quicksand:wght@300&family=Roboto+Serif:opsz,wght@8..144,200&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Bitter:wght@600&family=Cormorant+Garamond:ital,wght@1,600&family=Heebo:wght@500&family=Lato:wght@300&family=Montserrat:ital,wght@1,200&family=Quicksand:wght@300&family=Roboto+Serif:opsz,wght@8..144,200&family=Work+Sans&display=swap");
html,
body {
  width: 100%;

  height: 100vh;
}

body {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #cc5577;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* Buttons */

#button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;
  position: relative;
  top: 30px;
}

#button-category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343e37;
  color: #fff;
  width: 100px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 50px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 75%;
}

@media (max-width: 390px) {
  #button-container {
    padding: 60px 10px 10px 10px;
    margin-top: 30px;
    font-size: 100%;
  }
}

#button-category:hover {
  background-color: #fff;
  color: #343e37;
  transform: scale(1.1);
}

/* Cards */

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  position: relative;
}

#card_hover:hover {
  scale: 1.03;
  transition: 0.1s;
}

.round-shadow-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* CardContainer */

.card-container-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 40px 0px 40px;
  overflow: hidden;
  position: relative;
}
.card-container-title.animations-complete {
  overflow: auto;
}

.title {
  margin: 40px;
  font-family: "Roboto Serif", serif;
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: #f5f5f5;
  margin: 170px 30px 30px;
  border-radius: 50px;
}

.welcome {
  flex: 0.5;
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 40px;
}
.welcome p {
  padding: 40px;
}

.image {
  flex: 1;
  height: 100%;
  background-image: url(/developer.jpeg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: 100%;
    margin: 30px;
    position: relative;
    top: 50px;
  }
  .welcome,
  .image {
    flex: none;
    width: 100%;
    height: 50%;
  }
  .image {
    height: 300px;
  }
}

@media (max-width: 858px) {
  .card-container-title {
    margin: 0;
  }
  @media (max-width: 858px) {
    .hero {
      top: 90px;
    }
  }
}

/* Tips */

.hero-tips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: #f5f5f5;
  border-radius: 50px;
}

.welcome-tips {
  flex: 1;
  padding: 60px;
  text-align: center;
  border-radius: 50px;
}

.welcome-tips h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.image-tips {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .hero-tips {
    flex-direction: column;
    height: auto;
    margin: 30px;
  }

  .welcome-tips,
  .image-tips {
    flex: none;
  }

  .image-tips {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .welcome-tips h1,
  p {
    padding: 6px;
  }
}

/* Welcome */
#welcome-container {
  width: 100%;
  position: relative;
  top: 50px;
}

#welcome-text {
  position: relative;
  padding: 100px;
}

#font {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 6vw;
  width: 200px;
  margin: 0;
}

#node-js {
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 3vw;
  width: 200px;
  margin: 0;
}

#photoeditor {
  position: absolute;
  top: 47%;
  left: 70%;
  font-size: 3vw;
  width: 300px;
  margin: 0;
}

#html {
  position: absolute;
  top: 48%;
  left: 45%;
  font-size: 3vw;
  width: 100px;
  margin: 0;
}

#css {
  position: absolute;
  top: 80%;
  left: 74%;
  font-size: 3vw;
  width: 100px;
  margin: 0;
}

#FrontEnd {
  position: relative;
  top: 15%;
  left: 45%;
  font-size: 2vw;
  width: 100px;
  margin: 0;
}

#vscode {
  position: relative;
  top: -5%;
  left: 30%;
  font-size: 6vw;
  width: 300px;
  margin: 0;
}

#color {
  position: absolute;
  top: 7%;
  left: 60%;
  font-size: 6vw;
  width: 100px;
  margin: 0;
}

#javascript {
  position: absolute;
  top: 78%;
  left: 30%;
  font-size: 8vw;
  width: 700px;
  margin: 0;
}

#background {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(238, 130, 238, 1) 100%
  );
}

#background-react {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 8vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(0, 188, 212, 1) 50%,
    rgba(238, 130, 238, 1) 100%
  );
}

@media (max-width: 390px) {
  #javascript {
    top: 80%;
    font-size: 3rem;
    width: 230px;
  }
  #html {
    top: 45%;
    left: 15%;
    font-size: 1.5rem;
  }
  #color {
    top: 15%;
    font-size: 3rem;
  }
  #font {
    top: 20%;
    left: 10%;
    font-size: 3rem;
  }
  #css {
    top: 65%;
    left: 65%;
    font-size: 3rem;
  }

  #photoeditor {
    left: 60%;
    font-size: 3rem;
    width: 200px;
  }
  #background-react {
    left: 20%;
    top: 65%;
    font-size: 3rem;
    width: 230px;
  }

  #photoeditor {
    left: 55%;
    top: 53%;
    font-size: 1.5rem;
    width: 150px;
  }
  #FrontEnd {
    font-size: 1rem;
    left: 35%;
    top: 43%;
  }
  #node-js {
    font-size: 1rem;
    left: 15%;
    top: 36%;
  }
  #vscode {
    font-size: 1rem;
    left: 45%;
    width: 150px;
  }
}

@media (min-width: 390px) {
  /* Disable Framer Motion animations */
  .framer-motion-element {
    animation: none !important;
    transition: none !important;
  }
}

/* Footer */
#container-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container-footer > a {
  text-decoration: none;
  margin: 20px;
}

.date {
  background-color: #005b44;
  color: #4ffbdf;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 10px;
}

/* Text */

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
}

section {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  gap: 30px;
}

@media (max-width: 390px) {
  .text-container {
    top: 150px;
  }
  section {
    width: 90% !important;
    height: 70vh;
  }
}

#text-img {
  border-radius: 70px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
}

/* Info */

#info-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 100px;
  border-radius: 10px;
  text-align: center;
  height: 100vh;
}

#cool-img {
  max-width: 100%;
  height: auto;
  width: 600px;
}

#nice-text {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(164, 10, 10, 1) 0%,
    rgba(73, 70, 252, 1) 100%
  );
}

.pin-container {
  position: relative;
  width: 100%;
}

.spacer {
  width: 100%;
  height: 600px;
  background-color: #343e37;
}

.text-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #cc5577;
}

/* Scroll */

.spacer {
  width: 100%;
  height: 30vh;
  background-color: black;
}

.gallery {
  display: flex;
}
.left {
  width: 50%;
}

.details {
  height: 100vh;
}

.detailswrapper {
  width: 80%;
  margin: auto;
}

.headline {
  border-radius: 6px;
  height: 4em;
  width: 100%;
}

.text {
  margin: 0.8em 0 0 0;

  border-radius: 6px;
  height: 1em;
  width: 100%;
}

.details {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bitter", serif;
}
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos {
  width: 40vw;
  height: 40vw;

  border-radius: 10px;
}

.arrow {
  display: flex;
  justify-content: end;
}

/* Frontendhub */

#frontend {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 50vh;

  font-size: 1rem;
  font-size: 3rem;
  font-size: clamp(3rem, 1.2500000000000002rem + 7.291666666666666vw, 10rem);
  font-weight: 700;
}

.popup-container {
  display: flex;
  position: absolute;
  position: fixed;
  top: 300px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;

  z-index: 100;
}

#box-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100px;
  background-color: #cc5577;
  border-radius: 15px;
}

.compo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 55px;
  justify-content: center;
  background-color: 65544C;
  padding: 20px;
}

/* News API */

.container-news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 80px;
  background-color: #2e3a42;
  padding: 20px;
  margin-bottom: 70px;
}

.card-news {
  width: 300px;
  padding: 10px;

  background-color: #7fa45e;
}

.news-title {
  color: #fbfaf9;
  font-size: 1.2rem;
  padding: 3px;
}

.news-link {
  text-decoration: none;
  color: #dcd8b0;
}

.header-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  color: #fbfaf9;
  font-size: 3rem;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .header-news {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .header-news {
    font-size: 1.5rem;
  }
}

.underline-news {
  color: black;
  font-weight: 500;
}

/* Logo website */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.logo-img {
  width: 400px;
}

@media (max-width: 480px) {
  .logo-img {
    width: 300px;
  }
  .logo-container {
    height: 250px;
    position: relative;
    top: -100px;
  }
}

/* Content */

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(cool-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: cover;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

@media (max-width: 768px) {
  .container-content {
    height: 60vh;
    margin-top: 250px;
  }
}

@media (max-width: 480px) {
  .container-content {
    height: 40vh;
    margin-top: 100px;
  }
}

.img-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
}

.img-width {
  border-radius: 50%;
  height: 155px;
  width: 155px;
}

@media (max-width: 1440px) and (min-width: 480px) {
  .img-width {
    width: 90px;
    height: 90px;
  }
  .container-content {
    margin-bottom: 200px;
  }
}

@media (min-width: 390px) {
  .img-width {
    width: 60px;
    height: 60px;
  }
  .container-content {
    position: relative;
    top: 150px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-font {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-content > img {
    width: 300px !important;
  }
  .img-data {
    height: 120px !important;
    min-width: 100px !important;
  }
}

.img-data {
  display: flex;
  justify-content: space-around;
  height: 240px;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
}

.responsive-font {
  font-size: 16px; 
}

@media (min-width: 768px) {
  .responsive-font {
    font-size: 20px; 
  }
}

@media (min-width: 1024px) {
  .responsive-font {
    font-size: 24px;
  }
}
